/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);*/

html {
    padding: 0;
}

body { 
    font-family: "Droid Serif", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif;
    font-size: 11pt;
    line-height: 1.3;
    margin: 40pt;
    padding: 0;
    background:#f0f0f0;
}

#postamble {
    visibility:hidden;  /* 隐藏了postamble, 因为总是对不齐, css太菜...... */
    text-align: center;
    width: 75%;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    _position:absolute;  
    _top:expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight);  
}

.title {
    /*background: url(../images/logo.png) no-repeat 12px 5px;  /* 这个图片下载后被我替换了, 本来是org-mode自己的logo */
    position: fixed;
    display: inline;
    left: 0px;
    top: 0px;
    /*height: 54px;*/
    width: 100%;
    margin-top: 0px;
    background-color: #eee;
    padding: 0;
    z-index: 99;

    background-image: linear-gradient(to bottom, #fff 0px, #f9f9f9 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 5px 5px rgba(0, 0, 0, 0.075);
}
.title .return {   
    text-decoration:none;font-size:20px;left:5px;position:fixed;line-height:40px
}

#orgquote {
    position: fixed;
    display: block;
    top: 77px;
    padding: 5pt;
    text-align: center;
    background-color: black;
    width: 100%;
    color: #ccc;
    box-shadow: 0px 15px 10px #fff;
    font-size: 90%;
    font-family: Courier new;
    z-index: 98;
}

#paypal {
    position:fixed;
    right: 10px;
    top: 15px;
    z-index: 100;
}

#paypal button {
    font-family: Courier new;
    cursor: pointer;
    color: white;
    position:fixed;
    display: block;
    right: 14px;
    top: 15px;
    width: 90px; 
    height: 40px;
    box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #53e1e3;
    font-weight: bold;
}

#paypal button:hover {
    position:fixed;
    display: block;
    right: 9px;
    top: 15px;
    width: 90px; 
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 0px #888;
    -webkit-box-shadow: 0px 0px 0px #888;
    -moz-box-shadow: 0px 0px 0px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #49f4f6;
    font-weight: bold;
}

h1.title {
    text-shadow: 2px 2px 4px #999;
    font-size: 23pt;
    font-family: Courier New;
}

#linklist 
{
    position: fixed;
    font-size: 13pt;
    font-family: Courier New; 
    padding-top: 0px;
    padding-right: 0px;
    top: 107px;
    left: 0px;
    margin-top: 0px;
    width: 180px;
    background-color: #fff;
    color: black;
    box-shadow: 8px 8px 12px #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    z-index: 100;
}

#linklist a {
    color: black;
    font-weight: normal; 
    text-decoration: none;
    display:block;
    padding: 7pt;
}

#linklist ul {
    margin: 0;
    padding: 0;
}

#linklist li {
    text-align: right;
    margin: 0;
}

.timestamp {
    font-family: Courier New;
    color: #888888;
}

#linklist li:hover {
    border-left: 7px solid #537d7b;
}

pre {
    background-color: #eee;
    font-family: "Droid Sans Mono";
    box-shadow: 5px 5px 5px #888;
    border: none;
    padding: 5pt;
    margin-bottom: 14pt;
    color: black;
    padding: 12pt;
    font-family: Courier New;
    font-size: 95%;
    overflow: auto; 
}

#buttons {
    position: fixed;
    bottom: 10px;
    /* right: 20px; */
    left: 20px;
    z-index: 100;
    width: 100px;
}

.ok {
    -moz-opacity:.2;
    opacity: .2;
    filter:alpha(opacity=20);
}

.ok:hover {
    -moz-opacity:1;
    opacity: 1;
    filter:alpha(opacity=100);
}

.outline-2 {
    position: relative;
    left: 215px;
    /*top: 105px;*/
    width: 75%;
    padding-bottom: 5pt;
}

#twit {
    -moz-opacity:.2;
    opacity: .2;
    filter:alpha(opacity=20);
    position: fixed;
    top: 362px;
    box-shadow: 8px 8px 12px #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    z-index: 100;
}

#twit:hover {
    -moz-opacity:1;
    opacity: 1;
    filter:alpha(opacity=100);

    position: fixed;
    top: 362px;
    box-shadow: 8px 8px 12px #ccc;
    z-index: 100;
}

#outline-container-1 {
    padding-top: 3pt;
}
.outline-2 h2,.outline-2 h3,.outline-2 h4 {font-family: Courier New;}
/* 这里在 outline-2下的h2-4添加padding-top修正锚链接跳转顶部导致标题看不见*/
.outline-2 h2 {padding-top:60px;}
.outline-2 h3 {padding-top:50px;}
.outline-2 h4 {padding-top:40px;}


p { 
    margin-top: 0; 
    text-align: justify;
}

a:link { 
    font-weight: normal; 
    text-decoration: none; 
    color:#000;
    /*color: #1c3030; */
    /* color: #A34D32; */
}

a:visited { 
    font-weight: normal; 
    text-decoration: none;
	color: green; 
    /* color: #5e251e; */
    /* color: #6E2432; */
}

a:hover, a:active { 
    text-decoration: underline; 
    color: red;
    /* color: #537d7b; */
}

dd {
    text-align: justify;
    margin-bottom: 14pt;
}

dt {
    font-size: 110%;
    font-family: Courier New;
    color: #1c3030;
    /* color: #537d7b; */
    padding: 3px;
    margin-bottom: 3px;
}

li {
    margin: 10px;
    text-align: justify;
    /*list-style-image : url(triangle.png);   这个图片就是每个li 前面的小箭头 */
}



#table-of-contents {
    font-size: 9pt;
    position: fixed;
    /*right: 0em;*/
    top: 0em;
    background: white;
    -webkit-box-shadow: 0 0 0.5em #777;
    box-shadow: 0 0 0.5em #777;
    -webkit-border-radius: 5px;
    border-radius:0 0 3px 3px;
    text-align: left;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; 
    z-index: 200;
    left:120px;
}

#table-of-contents h2 {
    font-size: 9pt;
    max-width: 100px;
    font-weight: normal;
    left: 100px;

    font-size: 20px;
    line-height: 40px;
    padding: 0;
    margin:0;
    font-family: Courier New;
    font-weight: normal;
/*
    font-size: 20px;
    left: 5px;
    line-height: 40px;
    position: fixed;

    color: #000;
    
    text-decoration: none;


    
    font-size: 23pt;
    

*/
}


#table-of-contents ul {
    margin-left: 14pt; 
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}

img.random {
    max-width: 750px;
    max-height: 380px;
    margin-bottom: 10pt;
    border: 1px solid black;
}

@media screen
{
  #table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
  }
} /* END OF @media screen */
